# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Trash\Computer Science\Level11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Some other
*.xml
/../../../../../:\Trash\Computer Science\Level11\out/
